dataclasses-json
distro
fastapi
frozenlist
groq
httpcore
httpx
httpx-sse
joblib
jsonpatch
jsonpointer
langchain
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-text-splitters
marshmallow
multidict
mypy_extensions
numba
numpy
orjson
ormsgpack
packaging
pandas
propcache
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
PyYAML
scikit-learn
scipy
shap
uvicorn
xgboost
xxhash
yarl
zstandard