fastapi
frozenlist
groq
httpcore
httpx
httpx-sse
joblib
jsonpatch
jsonpointer
langchain
langchain-community
langchain-core
langchain-groq
marshmallow
multidict
mypy_extensions
numba
numpy
orjson
packaging
pandas
pydantic
pydantic-settings
pydantic_core
python-dateutil
python-dotenv
PyYAML
scikit-learn
scipy
shap
uvicorn
xgboost
yarl
